*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(16, 16, 16);
    direction: rtl;
    font-family: 'vazir';
    height: 100vh;
    overflow-x: hidden;
}
.container{
    display: flex;
    height: 100vh;
}
/*----------navbar-------------*/
.navbar{
    background-color: #1e1e1e;
    min-width: 300px;
    width: 30%;
    border-left: 1px solid #454545;
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    z-index: 10;
}
/*-----------*/
.header-nav{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    border-bottom: 1px solid #454545;
    padding: 4px 8px;
}
.header-nav h1{
    flex: 1;
    direction: ltr;
    font-size: 20px;
    color: #a2a2a2;
}
.search-option{
    color: #a2a2a2;
}
/*-----------*/
.chats_list{
    list-style: none;
}
.chat-item{
    background-color: #6a6a6a20;
    border-radius: 10px;
    margin: 5px;
    padding: 7px;
    transition: background 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.chat-item:hover{
    background-color: #bcbcbc76;
}
.chat-item img{
    max-width:45px;
    float: right;
    border-radius: 15px;
    margin-left: 10px;
}
.chat-info h4{
    color: #fff;
    font-size: 15px;
    margin-bottom: 2px;
}
.chat-info p{
    color: #fff;
    font-size: 11px;
}
/*-----------*/
.bottom-right-setting{
    border: 1px solid #ffffff45 ;
    margin: 7px;
    border-radius: 7px;
    padding: 5px;
}
.text-more{
    color: #ffffff45;
    font-size: 14px;
}
/*-----------------------*/
.chatbox{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.chat-header{
    background-color: #0077ff20;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
}
.chat-header img{
    max-height: 50px;
    border-radius: 15px;
    margin-left: 10px;
}
.Single-info h4{
    color: #fff;
}
.Single-info p{
    color: #fff;
    font-size: 10px;
}
.more-button{
    position: absolute;
    left: 10px;
    color: #fff;
}
/*-----------------------*/
.chatmessage{
    flex: 1;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.message{
    color: #fff;
    padding: 10px 12px;
    margin: 5px 10px;
    position: relative;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}
.message.sent{
    align-self: flex-start;
    border-radius: 12px 0 12px 12px;
    background-color: rgb(8, 71, 126);
}
.message.sent.near{
    margin-top: -1px;
    border-radius: 12px;
}
.message.recive{
    align-self: flex-end;
    border-radius: 12px 12px 12px 0;
    background-color: rgb(36, 36, 36);
}
.message.recive.near{
    margin-top: -1px;
    border-radius: 12px;
}
.message-text{
    flex: 1;
}
.message-tale{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    margin-bottom: -8px;
}
.message-time{
    direction: ltr;
    font-size: 13px;
}
/*-----------------------*/
.chat-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0c0265;
    padding: 10px;
    gap: 3px;
}
.chat-input textarea {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  height: 40px;
  min-height: 10px;
  max-height: 120px;
  resize: none;
  overflow: hidden;
  overflow-y: auto;
  transition: height 0.4s;
  font-family: 'vazir';
  font-size: 15px;
  scrollbar-color: brown;
  transition: box-shadow 0.2s;
}
.chat-input textarea:focus{
    outline: none;
    box-shadow: 0 0 5px white;
}
.chat-input textarea::-webkit-scrollbar{
display: none;
}
.chat-input button{
    max-height: 50px;
    background-color: #5b49ff;
    color: #fff;
    padding: 6px 13px;
    border-radius: 8px;
    font-size: 17px;
    border: none;
    transition: background 0.2s;
    cursor: pointer;
}
.chat-input button:hover{
    background-color: #0c0265;
}